###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

/.docker/postgresql/data/
/.docker/redis/data/

# PhpStorm / IDEA
.idea/
.DS_Store
